<nav class="navbar navbar-expand-lg primary-cust sticky-top navbar-custom" data-bs-theme="dark">
        <div class="container-fluid">
          <a id="navTitle" class="navbar-brand fs-2 link-cust mx-4" href="/home">Arcadia</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse test navbar-custom" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto fs-4">
              <li class="nav-item">
                <a id="nav-home" class="nav-link" aria-current="page" href="/home"
                  >Accueil</a
                >
              </li>
              <li class="nav-item">
                <a id="nav-animaux" class="nav-link" href="/animaux">Animaux</a>
              </li>
              <li class="nav-item">
                <a id="nav-habitats" class="nav-link" href="/habitats">Habitats</a>
              </li>
              <li class="nav-item">
                <a id="nav-services" class="nav-link" href="/services">Services</a
                >
              </li>
              <li class="nav-item">
                <a id="nav-contact" class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a id="nav-login" class="nav-link" href="/login">Connexion</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>