<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.titre }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <h3>Sujet: {{ data.titre }}</h2>
    <h5>E-mail: {{ data.mail }}</h2>
    <br><br>
    <p class="fs-5"><strong>Message envoyé:</strong></p>
    <div class="alert alert-secondary">
        <p>{{ data.msg | nl2br }}</p>
    </div>
</body>
</html>